<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team11xtremexpensetracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddDestionationActivity"
            android:label="@string/title_activity_add_destionation" >
        </activity>
        <activity
            android:name=".activity.ViewDestinationActivity"
            android:label="@string/title_activity_view_destination" >
        </activity>
        <activity
            android:name=".activity.AddClaimActivity"
            android:label="@string/title_activity_add_claim" >
        </activity>
        <activity
            android:name=".activity.ViewClaimActivity"
            android:label="@string/title_activity_view_claim" >
        </activity>
        <activity
            android:name=".activity.ListClaimsActivity"
            android:label="@string/title_activity_list_claims" >
        </activity>
        <activity
            android:name=".activity.AddItemActivity"
            android:label="AddItemActivity" >
        </activity>
        <activity
            android:name=".activity.EditItemActivity"
            android:label="EditItemActivity" >
        </activity>
        <activity
            android:name=".activity.ViewItemActivity"
            android:label="ViewItemActivity" >
        </activity>
        <activity
            android:name=".ItemlistActivity"
            android:label="ItemlistActivity" >
        </activity>
        <activity
            android:name=".activity.TagActivity"
            android:label="@string/title_activity_view_tag" >
        </activity>
        <activity
            android:name=".EditClaimActivity"
            android:label="@string/title_activity_edit_claim" >
        </activity>
        <activity
            android:name=".activity.AccountActivity"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
    </application>

</manifest>
